### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

Concept Map GoogleDrive URL: https://drive.google.com/file/d/1Kn-vhxhx8nD5Fn8BB-928whfRKEnsW29/view?usp=sharing

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [6]:
matrix <- matrix(c(1,2,3,4,5,6), nrow=3)
rownames(matrix)<- c("row_1", "row_2", "row_3")
colnames(matrix) <- c("col_1", "col_2")
matrix

      col_1 col_2
row_1 1     4
row_2 2     5
row_3 3     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [87]:
ordered <- airquality[order(-airquality$Temp,-airquality$Solar.R),]
head(ordered, n=15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
121 118   225      2.3 94   8     29
123  85   188      6.3 94   8     31
42   NA   259     10.9 93   6     11
127  91   189      4.6 93   9      4
126  73   183      2.8 93   9      3
70   97   272      5.7 92   7      9
69   97   267      6.3 92   7      8
43   NA   250      9.2 92   6     12
102  NA   222      8.6 92   8     10
125  78   197      5.1 92   9      2
75   NA   291     14.9 91   7     14
124  96   167      6.9 91   9      1
40   71   291     13.8 90   6      9

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [88]:
ordered <- airquality[order(-airquality$Temp, airquality$Solar.R),]
head(ordered, n=15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
123  85   188      6.3 94   8     31
121 118   225      2.3 94   8     29
126  73   183      2.8 93   9      3
127  91   189      4.6 93   9      4
42   NA   259     10.9 93   6     11
125  78   197      5.1 92   9      2
102  NA   222      8.6 92   8     10
43   NA   250      9.2 92   6     12
69   97   267      6.3 92   7      8
70   97   272      5.7 92   7      9
124  96   167      6.9 91   9      1
75   NA   291     14.9 91   7     14
101 110   207      8.0 90   8      9

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

1. The first operation you can choose to select for all observations where the temperature is 72 would be subset. To use it for this criteria you would input subset(airquality, Temp==72), shown below.

In [44]:
subset(airquality, Temp==72)

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

2. The second operation you can choose to select for all observations where the temperature is 72 would be assign a set of criteria and then directly ask for all columns that fit that criteria to be pulled from the dataset, shown below.

In [45]:
Temp_72 <- airquality$Temp == 72
airquality[Temp_72, ]

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [92]:
nrow(airquality)
airquality_no_na <- na.omit(airquality, "Solar.R", "Ozone")
nrow(airquality_no_na)

[1] 153

[1] 111

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [124]:
df_solarR <- airquality
may_solar <- subset(df_solarR, Month==5)
may_avg <- mean(may_solar$Solar.R, na.rm = TRUE)
may_solar$Solar.R[is.na(may_solar$Solar.R)] = may_avg
aug_solar <- subset(df_solarR, Month==8)
aug_avg <- mean(aug_solar$Solar.R, na.rm = TRUE)  
aug_solar$Solar.R[is.na(aug_solar$Solar.R)] = aug_avg
jun_solar <- subset(df_solarR, Month==6)
jul_solar <- subset(df_solarR, Month==7)
sep_solar <- subset(df_solarR, Month==9)
rbind(may_solar, jun_solar, jul_solar, aug_solar, sep_solar)

    Ozone Solar.R  Wind Temp Month Day
1    41   190.0000  7.4 67   5      1
2    36   118.0000  8.0 72   5      2
3    12   149.0000 12.6 74   5      3
4    18   313.0000 11.5 62   5      4
5    NA   181.2963 14.3 56   5      5
6    28   181.2963 14.9 66   5      6
7    23   299.0000  8.6 65   5      7
8    19    99.0000 13.8 59   5      8
9     8    19.0000 20.1 61   5      9
10   NA   194.0000  8.6 69   5     10
11    7   181.2963  6.9 74   5     11
12   16   256.0000  9.7 69   5     12
13   11   290.0000  9.2 66   5     13
14   14   274.0000 10.9 68   5     14
15   18    65.0000 13.2 58   5     15
16   14   334.0000 11.5 64   5     16
17   34   307.0000 12.0 66   5     17
18    6    78.0000 18.4 57   5     18
19   30   322.0000 11.5 68   5     19
20   11    44.0000  9.7 62   5     20
21    1     8.0000  9.7 59   5     21
22   11   320.0000 16.6 73   5     22
23    4    25.0000  9.7 61   5     23
24   32    92.0000 12.0 61   5     24
25   NA    66.0000 16.6 57   5     25
26   NA   266.0000 14.9 58   5     26
27   NA   181.2963  8.0 57   5     27
28   23    13.0000 12.0 67   5     28
29   45   252.0000 14.9 81   5     29
30  115   223.0000  5.7 79   5     30
⋮   ⋮     ⋮        ⋮    ⋮    ⋮     ⋮
124 96    167       6.9 91   9      1
125 78    197       5.1 92   9      2
126 73    183       2.8 93   9      3
127 91    189       4.6 93   9      4
128 47     95       7.4 87   9      5
129 32     92      15.5 84   9      6
130 20    252      10.9 80   9      7
131 23    220      10.3 78   9      8
132 21    230      10.9 75   9      9
133 24    259       9.7 73   9     10
134 44    236      14.9 81   9     11
135 21    259      15.5 76   9     12
136 28    238       6.3 77   9     13
137  9     24      10.9 71   9     14
138 13    112      11.5 71   9     15
139 46    237       6.9 78   9     16
140 18    224      13.8 67   9     17
141 13     27      10.3 76   9     18
142 24    238      10.3 68   9     19
143 16    201       8.0 82   9     20
144 13    238      12.6 64   9     21
145 23     14       9.2 71   9     22
146 36    139      10.3 81   9     23
147  7     49      10.3 69   9     24
148 14     20      16.6 63   9     25
149 30    193       6.9 70   9     26
150 NA    145      13.2 77   9     27
151 14    191      14.3 75   9     28
152 18    131       8.0 76   9     29
153 20    223      11.5 68   9     30